<h1> Data science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1) R
2) Python
3) julia

<b>Objectives:</b>
<li>
    <ul> List popular languages for Data Science </ul>
    </li>
    
   <li><ul> List popular libraries of Data Science </ul></li>
     <li><ul>Arthimetic Operations </ul></li>

Some of the commonly used libraries used by Data Scientists include:
1) pandas
2) keras
3) Scikit-Learn
4) Numpy
5) Matplotlib

<table style ="width:35%" border=50>
    <tr>
        <th> Data Science Tools </th>
    </tr>
      <tr>
          <td> Rstudio </td>
    </tr>
    <tr>
        <td> Apache Spark </td>
    </tr>
    <tr>
        <td> Apache Hadoop </td>
    </tr>
    </table>

<h3> Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
print((3*4)+5)
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
print(200//60)
#This will convert 200 minutes to hours by diving by 60

3

<h2> Author </h2>
Bhargavi